{%  extends "../base/base_user.html" %}

{% load i18n %}
{% block head_title %}{% trans "Αλλαγή Password" %}{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center my-4">
        <div class="mt-2">
            <h3>{% trans "Αλλαγή Password" %}</h3>
            <p>{% trans 'Το password σας έχει αλλάξει.' %}</p>
        </div>
</div>
<div class="container d-flex justify-content-center my-4">
    <div>
        <a href="{% url 'base:user_dashboard' %}" class="btn btn-primary">ΠΙΝΑΚΑΣ ΕΛΕΓΧΟΥ</a>
    </div>
</div>
{% endblock %}