{%  extends "../base/base_user.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Αλλαγή Password" %}{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="mt-2">
    <h1>{% trans "Αλλαγή Password" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Σας έχουμε στείλει ένα e-mail. Παρακαλούμε επικοινωνήστε μαζί μας αν δεν το λάβετε εντός λίγων λεπτών.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}