{% extends '../base/base_admin.html' %}

{% block content %}

<div class="my-5 d-flex justify-content-center">
    <div class="row">
        {% if user %}
                <div class="my-3">
                    <div class="d-flex justify-content-center mb-3"><h5>ΣΤΟΙΧΕΙΑ ΛΟΓΑΡΙΑΣΜΟΥ</h5></div>
                    <div class="row">
                        <div class="d-flex justify-content-center mb-2">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td nowrap>ΟΝΟΜΑ ΧΡΗΣΤΗ:</td>
                                        <td nowrap>{{user.username}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>E-MAIL ΧΡΗΣΤΗ:</td>
                                        <td nowrap>{{user.email}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>ΗΜΕΡΟΜΗΝΙΑ ΕΓΓΡΑΦΗΣ:</td>
                                        <td nowrap>{{user.date_joined|date:"d/m/Y"}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>ΤΕΛΕΥΤΑΙΑ ΕΙΣΟΔΟΣ:</td>
                                        <td nowrap>{{user.last_login|date:"d/m/Y"}}</td>												
                                    </tr>
                                </tbody>                            
                            </table>                           
                        </div>                       
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'base:user_dashboard' %}" class="btn btn-primary">ΠΙΝΑΚΑΣ ΕΛΕΓΧΟΥ</a>
                    </div>
                </div>

    </div>
    {% else %}
    <div class="row w-100">
        <div class="my-3">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page"><strong>Δε βρέθηκε χρήστης</strong></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}    
</div>


{% endblock %}