{% extends '../base/base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3 mx-3">
        <li class="breadcrumb-item"><a href="{% url 'base:admin_dashboard' %}">Πίνακας Ελέγχου</a></li>
        <li class="breadcrumb-item"><a href="{% url 'reservations:timeslot_res_period_selection' %}">Περιοδικές Χρονοθυρίδες</a></li>
        <li class="breadcrumb-item active" aria-current="page">Περίοδος {{ reservation_period.name }}</li>
        </ol>
    </nav>
</div>

<nav aria-label="breadcrumb">
    <div class="container mt-5">
        <div class="d-flex justify-content-center mb-2">
            <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h4>Δημιουργία Περιοδικών Χρονοθυρίδων για την Περίοδο Επισκέψεων {{ reservation_period.name }}</h4></li>
            </ol>
        </div>
    </div>
</nav>
<div class="container bg-white text-dark d-flex flex-wrap overflow-auto">
    <div class="row w-100">
        <div class="container">
            <div class="d-flex justify-content-center mb-2">
                <div class="col-md-8">
                    <div class="d-flex justify-content-center">
                        <form method="post" action="{% url 'reservations:add_timeslots' reservation_period.id %}">
                            {% csrf_token %}
                            {% if error_message %}
                                <center><p><strong class="text-danger">{{ error_message }}</strong></p></center>
                            {% endif %}
                            <!-- {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %} -->
                            <div class="row">
                                <div class="d-flex justify-content-between mb-2">
                                    <div class="me-2">
                                        <input type="hidden" name="reservation_period_id" value="{{ reservation_period.id }}">
                                        <input type="checkbox" id="select-all">
                                        <label for="select-all">Επιλογή Όλων</label>
                                    </div>

                                    <div>
                                        <button type="button" class="btn btn-info" data-bs-toggle="popover" data-bs-title="Info" data-bs-content="Πρέπει να προσθέσετε όλες τις περιοδικές χρονοθυρίδες σε μία περίοδο επισκέψεων"><i class="fas fa-info"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-striped table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>Ημέρα</th>
                                            <th>Ώρα</th>
                                            <th>Διαθεσιμότητα</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for qs_day in qs_days %}
                                            {% for qs_slot in qs_slots %}
                                                <tr>
                                                    <td>{{ qs_day.get_day_display }}</td>
                                                    <td>{{ qs_slot.slot|time:"H:i" }}</td>
                                                    <!-- <td><input type="checkbox" name="timeslots" value="{{ forloop.counter }}_{{ hour }}"></td> -->
                                                    <td><input type="checkbox" name="timeslots" value="{{ qs_day.day }} {{ qs_slot.slot|time:"H:i:s" }}"></td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">ΠΡΟΣΘΗΚΗ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        // JavaScript code to handle "Select All" functionality
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('select-all').addEventListener('change', function () {
                const checkboxes = document.querySelectorAll('input[name="timeslots"]');
                checkboxes.forEach(checkbox => {
                    checkbox.checked = document.getElementById('select-all').checked;
                });
            });
        });
    </script>

    <!-- Your script to initialize popovers -->
    <script>
        $(document).ready(function(){
            $('[data-bs-toggle="popover"]').popover();  
        });
    </script>

{% endblock %}
