{% extends '../base/base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3 mx-3">
        <li class="breadcrumb-item"><a href="{% url 'base:admin_dashboard' %}">Πίνακας Ελέγχου</a></li>
        <li class="breadcrumb-item"><a href="{% url 'reservations:timeslot_res_period_selection' %}">Περιοδικές Χρονοθυρίδες</a></li>
        <li class="breadcrumb-item active" aria-current="page">Περίοδος {{ reservation_period.name }}</li>
        </ol>
    </nav>
</div>

<nav aria-label="breadcrumb">
    <div class="container mt-5">
        <div class="d-flex justify-content-center mb-2">
            <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h4>Επισκόπηση Χρονοθυρίδων για την Περίοδο Επισκέψεων {{ reservation_period.name }}</h4></li>
            </ol>
        </div>
    </div>
</nav>
<div class="container bg-white text-dark d-flex flex-wrap overflow-auto">
    <div class="row w-100">
        <div class="container">
            <div class="d-flex justify-content-center mb-2">
                <div class="col-md-8">
                    <div class="d-flex justify-content-center">
                        <form method="post" action="{% url 'reservations:edit_timeslots' reservation_period.id %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="d-flex justify-content-start mb-2">
                                    
                                        <div class="me-2">
                                            <input type="checkbox" id="select-all">
                                        </div>
                                        <div>
                                            <label for="select-all">Επιλογή Όλων</label>
                                        </div>
                                    
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>Ημέρα</th>
                                        <th>Ώρα</th>
                                        <th>Διαθεσιμότητα</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for timeslot in timeslots %}
                                        <!-- <tr>
                                            <td class="{% if timeslot.is_reservation_allowed == 1 %}table-success{% endif %}">{{ timeslot.dayTime.get_day_display }}</td>
                                            <td class="{% if timeslot.is_reservation_allowed == 1 %}table-success{% endif %}">{{ timeslot.dayTime.slot|time:"H:i" }}</td>
                                            <td><input type="checkbox" name="timeslots" value="{{ timeslot.id }}" {% if timeslot.is_reservation_allowed %}checked{% endif %}></td>
                                        </tr> -->
                                        <tr>
                                            <td class="{% if timeslot.is_reservation_allowed == 1 %}table-success{% else %}table-danger{% endif %}">{{ timeslot.dayTime.get_day_display }}</td>
                                            <td class="{% if timeslot.is_reservation_allowed == 1 %}table-success{% else %}table-danger{% endif %}">{{ timeslot.dayTime.slot|time:"H:i" }}</td>
                                            <td><input type="checkbox" name="timeslots" value="{{ timeslot.id }}"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-primary mt-2">ΤΡΟΠΟΠΟΙΗΣΗ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript code to handle "Select All" functionality
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('select-all').addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('input[name="timeslots"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = document.getElementById('select-all').checked;
            });
        });
    });
</script>


{% endblock %}