{% extends '../base/_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Edit Timeslots for Reservation Period</h2>
<form method="post" action="{% url 'reservations:edit_timeslots' reservation_period.id %}">
    {% csrf_token %}
    <input type="checkbox" id="select-all">
    <label for="select-all">Select All</label>
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Allowed</th>
            </tr>
        </thead>
        <tbody>
            {% for timeslot in timeslots %}
                <tr>
                    <td>{{ timeslot.dayTime.day }}</td>
                    <td>{{ timeslot.dayTime.slot }}</td>
                    <td><input type="checkbox" name="timeslots" value="{{ timeslot.id }}" {% if timeslot.is_reservation_allowed %}checked{% endif %}></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Update Timeslots</button>
</form>

<script>
    // JavaScript code to handle "Select All" functionality
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('select-all').addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('input[name="timeslots"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = document.getElementById('select-all').checked;
            });
        });
    });
</script>

{% endblock %}