{% extends '../base/base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container bg-white text-dark">
    <h3 class="my-4">Reservation Preview</h3>

    <!-- Display the formset data for confirmation -->
    <form method="post" action="{% url 'reservations:preview_reservation' reservation_period_id=reservation_period_id school_user_id=school_user_id %}?{{ request.GET.urlencode }}">
        {% csrf_token %}
        
        <!-- Include the formset management form -->
        {{ formset.management_form }}
        
        <!-- Iterate through formset data and display only filled data -->
        {% for form in formset %}
            {% if form.has_changed %}
                <p>Ώρα: {{ form.cleaned_data.timeslot.dayTime.slot|date:"H:i" }}</p>
                <p>Αριθμός Μαθητών: {{ form.cleaned_data.student_number }}</p>
                <p>Αριθμός Εκπαιδευτικών: {{ form.cleaned_data.teacher_number }}</p>
                <p>Αποδοχή Όρων: {% if form.cleaned_data.terms_accepted %} ΝΑΙ {% else %} ΟΧΙ {% endif %}</p>
            {% endif %}
        {% endfor %}
    
        <button type="submit" class="btn btn-primary" name="submit">Confirm</button>
    </form>

</div>
{% endblock %}
