{% extends '../base/base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container bg-white text-dark">
    <h3 class="my-4">Reservation Preview</h3>

    <!-- Display the formset data for confirmation -->
    <form method="post" action="{% url 'reservations:preview_reservation' reservation_period_id=reservation_period_id school_user_id=school_user_id %}?date={{ date }}">
        {% csrf_token %}
        
        <!-- Iterate through formset data and display only filled data -->

        {{ formset.management_form }}
        {% for form in formset %}
            {{ form|crispy }}
        {% endfor %}  

        <button type="submit" class="btn btn-primary" name="submit">Confirm</button>
    </form>

</div>

<!-- Add this script at the end of your HTML template -->
<script>
    $(document).ready(function () {
        // Check if the page is the preview page
        var isPreviewPage = window.location.href.indexOf('/preview_reservation/') !== -1;

        // Make timeslot dropdown non-editable if on the preview page
        if (isPreviewPage) {
            $('select[name$="-timeslot"]').prop('readonly', true);

            // Handle form submission to prevent changing the value
            $('form').submit(function (event) {
                $('select[name$="-timeslot"]').prop('disabled', false);
            });
        }
    });
</script>

{% endblock %}