{% extends '../base/base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style>
  .bold-label {
      font-weight: bold;
  }

  .vline {
	border-left: 6px solid rgb(66,139,202);
	height: 100px;
	/* margin-top: 50px; */
	margin-left: 50px;
  }

  /* Custom styles for DataTables buttons */
  .dataTables_wrapper .dt-buttons {
      position: relative;
      float: right;
  }

  .dataTables_wrapper .dataTables_filter {
      float: left;
      margin-right: 10px; /* Adjust the margin as needed */
  }

  /* Style for the 'excel' button */
  .dt-button.buttons-excel {
      color: #fff; /* Text color */
      background-color: #4caf50; /* Background color */
      border: 1px solid #4caf50; /* Border color */
  }

  /* Hover style for the 'excel' button */
  .dt-button.buttons-excel:hover {
      background-color: #45a049; /* Hover background color */
  }

  /* Style for the 'pdf' button */
  .dt-button.buttons-pdf {
      color: #fff; /* Text color */
      background-color: #e18ff5; /* Background color */
      border: 1px solid #e18ff5; /* Border color */
  }

  /* Hover style for the 'pdf' button */
  .dt-button.buttons-pdf:hover {
      background-color: #0d47a1; /* Hover background color */
  }

  #reservations-table_length {
      margin-right: 30px; /* Adjust the margin as needed */
  }

  #reservations-table_filter {
      float: right;
      margin-left: 10px; /* Adjust the margin as needed */
  }

  #reservations-table_wrapper .dt-buttons {
      float: right;
  }

  .custom-table-container {
    overflow-x: auto;
    margin: 10px; /* Adjust the margin as needed */
    padding: 10px; /* Adjust the padding as needed */
    border: 1px solid #ddd; /* Add a border if desired */
    border-radius: 5px; /* Add border-radius for rounded corners */
    /* Add any other custom styling as needed */
    }

    .table-responsive td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3 mx-3">
      <li class="breadcrumb-item"><a href="{% url 'base:admin_dashboard' %}">Πίνακας Ελέγχου</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ιστορικό Κρατήσεων</li>
    </ol>
</nav>

<div class="container bg-white text-dark d-flex flex-wrap overflow-auto my-3 mx-3">
  <div class="row w-100">
    <div class="my-1 d-flex justify-content-center">
      <h2>Συνολικό Ιστορικό Κρατήσεων</h2>
    </div>
  </div>

  <div class="row w-100">
    <div class="col-md-8 mb-3 mb-md-0">
    <!-- School Year Dropdown -->
      <form method="get" action="">
          {% csrf_token %}
          <div>
            <!-- <label for="{{ form.school_year.id_for_label }}" class="bold-label">Σχολικό Έτος:</label> -->
            <label for="{{ form.school_year.id_for_label }}" class="bold-label">Σχολικό Έτος:</label>
            {{ form.school_year|as_crispy_field }}
          </div>
          <div>
            <!-- <label for="{{ form.school_year.id_for_label }}" class="bold-label">Περίοδος Επισκέψεων:</label> -->
            <label for="{{ form.school_year.id_for_label }}" class="bold-label">Περίοδος Επισκέψεων:</label>
            {{ form.reservation_period|as_crispy_field }}
          </div>
          <div>
            <!-- <label for="{{ form.school_year.id_for_label }}" class="bold-label">Διεύθυνση:</label> -->
            <label for="{{ form.school_year.id_for_label }}" class="bold-label">Διεύθυνση:</label>
            {{ form.department|as_crispy_field }}
          </div>
          <div>
            <!-- <label for="{{ form.school_year.id_for_label }}" class="bold-label">Σχολείο:</label> -->
            <label for="{{ form.school_year.id_for_label }}" class="bold-label">Σχολείο:</label>
            {{ form.school_user|as_crispy_field }}
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary" name="filter" value="1">Αναζήτηση</button>
            <button type="submit" class="btn btn-outline-primary" name="filter" value="2">Καθαρισμός</button>
          </div>
      </form>
    </div>
    
    <div class="vline col-md-3">
      <div class="row">
        <p class="num-results">Αριθμός Αποτελεσμάτων</p>
      </div>
      <div id="results" class="row">
        {% if filter and historical_reservations %}
          <h1 class="results">{{ historical_reservations_num }}</h1>
        {% else %}
          <h1 class="results">0</h1>
        {% endif %}
      </div>
    </div>
    
  </div>

  <div class="my-5">
    {% if filter and historical_reservations %}
    <div class="table-responsive">
      <table id="reservations-table" class="table table-striped table-sm">
          <thead>
              <tr>
                  <th><small><strong>Σχολικό Έτος</strong></small></th>
                  <th><small><strong>Περίοδος Επισκέψεων</strong></small></th>
                  <th><small><strong>Διεύθυνση</strong></small></th>
                  <th><small><strong>Σχολείο</strong></small></th>
                  <th><small><strong>Ημερομηνία</strong></small></th>
                  <th><small><strong>Ώρα</strong></small></th>
                  <th><small><strong>Αρ. Μαθητών</strong></small></th>
                  <th><small><strong>Αρ. Εκπαιδευτικών</strong></small></th>
                  <th><small><strong>ΑΜΕΑ</strong></small></th>
                  <th><small><strong>Κατάσταση</strong></small></th>
                  <th><small><strong>Πραγματοποιημένη</strong></small></th>
                  <th><small><strong></strong></small></th>
              </tr>
          </thead>
          <tbody>
              {% for reservation in historical_reservations %}
                  <tr>
                      <td><small>{{ reservation.reservation_period.schoolYear.name }}</small></td>
                      <td><small>{{ reservation.reservation_period.name }}</small></td>
                      <td><small>{{ reservation.schoolUser.department.name }}</small></td>
                      <td><small>{{ reservation.schoolUser.school.name }}</small></td>
                      <td><small>{{ reservation.reservation_date.date|date:'d/m/Y' }}</small></td>
                      <td><small>{{ reservation.timeslot.dayTime.slot|time:"H:i" }}</small></td>
                      <td><small>{{ reservation.student_number }}</small></td>
                      <td><small>{{ reservation.teacher_number }}</small></td>
                      <td><small>
                          {% if reservation.amea %}
                              ΝΑΙ
                          {% else%}
                              ΟΧΙ
                          {% endif %}
                      </small></td>
                      <td><small>{{ reservation.get_status_display }}</small></td>
                      <td><small>
                          {% if reservation.is_performed %}
                              ΝΑΙ
                          {% else%}
                              ΟΧΙ
                          {% endif %}
                      </small></td>
                      <td>
                          <a class="btn btn-sm btn-primary h-25 d-inline-block" href="{% url 'reservations:reservation_history' reservation.id %}" role="button"><small>Ιστορικό</small></a>
                      </td>   
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
    {% endif %}
  </div>

</div>

<script>
    $(document).ready(function() {
        $('#school_year').change(function() {
            var selectedSchoolYearId = $(this).val();

            $.ajax({
                url: '{% url "reservations:get_reservation_periods" %}',
                data: {
                    'school_year_id': selectedSchoolYearId
                },
                dataType: 'json',  // Expect JSON response
                success: function(data) {
                    if (data.options) {
                        $('#reservation_period').html(data.options);
                    } else {
                        console.error('No options returned in the response.');
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('AJAX request failed:', textStatus, errorThrown);
                }
            });
        });
    });
</script>


<script>
    $(document).ready(function () {
        // Existing code...

        // Add an event listener for the department dropdown
        $('#reservation_period').change(function () {
            var selectedReservationPeriodId = $(this).val();

            $.ajax({
                url: '{% url "reservations:get_departments" %}',
                data: {
                    'reservation_period_id': selectedReservationPeriodId
                },
                dataType: 'json',
                success: function (data) {
                    if (data.options) {
                        $('#department').html(data.options);
                    } else {
                        console.error('No options returned in the response.');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('AJAX request failed:', textStatus, errorThrown);
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Existing code...

        // Add an event listener for the department dropdown
        $('#department').change(function () {
            var selectedDepartmentId = $(this).val();
            var selectedReservationPeriodId = $('#reservation_period').val();

            $.ajax({
                url: '{% url "reservations:get_schoolusers" %}',
                data: {
                    'department_id': selectedDepartmentId,
                    'reservation_period_id': selectedReservationPeriodId
                },
                dataType: 'json',
                success: function (data) {
                    if (data.options) {
                        $('#school_user').html(data.options);
                    } else {
                        console.error('No options returned in the response.');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('AJAX request failed:', textStatus, errorThrown);
                }
            });
        });
    });
</script>

<script>

  $(document).ready(function () {
    $('#reservations-table').DataTable({
        dom: 'lBfrtip',
      language: {
        "sEmptyTable": "Δεν υπάρχουν δεδομένα",
        "sInfo": "Εμφανίζονται _START_ έως _END_ από _TOTAL_ συνολικά",
        "sInfoEmpty": "Εμφανίζονται 0 έως 0 από 0 συνολικά",
        "sInfoFiltered": "(Φιλτράρισμα από _MAX_ συνολικά)",
        "sInfoPostFix": "",
        "sInfoThousands": ".",
        "sLengthMenu": "Δείξε _MENU_ εγγραφές",
        "sLoadingRecords": "Φόρτωση...",
        "sProcessing": "Επεξεργασία...",
        "sSearch": "Αναζήτηση:",
        "sZeroRecords": "Δεν βρέθηκαν αποτελέσματα",
        "oPaginate": {
          "sFirst": "Πρώτη",
          "sPrevious": "Προηγούμενο",
          "sNext": "Επόμενο",
          "sLast": "Τελευταία"
        },
        "oAria": {
          "sSortAscending": ": activate to sort column ascending",
          "sSortDescending": ": activate to sort column descending"
        }
      },
      buttons: [ {
            extend: 'excelHtml5',
            autoFilter: true,
            sheetName: 'Exported data',
        },
        {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'A4',
        }
    ],
      bInfo: false,    // Disable information display
      searching: true,
    });
  });
  
</script>

{% endblock %}