{% extends '../base/base_admin.html' %}

{% block content %}

<div class="container bg-white text-dark d-flex flex-wrap overflow-auto">
    <div class="row w-100 mx-3">
        <div class="card mt-5">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><strong>Δεν επιτρέπονται κρατήσεις τη συγκεκριμένη ημέρα.</strong></li>
                        </ol>
                    </nav>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'reservations:calendar_month' reservation_period_id school_user_id %}" class="btn btn-danger ms-2">ΗΜΕΡΟΛΟΓΙΟ</a>  
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}