{% extends '../base/base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style>
  .bold-label {
      font-weight: bold;
  }
</style>

<div class="container bg-white text-dark d-flex flex-wrap overflow-auto mt-4">
  <div class="row w-100">
    <div class="my-3 d-flex justify-content-center">
      <h2>Ιστορικό Κρατήσεων</h2>
    </div>
  </div>

  <div class="row w-100">
    <!-- School Year Dropdown -->
    <form method="get" action="">
        {% csrf_token %}
        <div>
          <!-- <label for="{{ form.school_year.id_for_label }}" class="bold-label">Σχολικό Έτος:</label> -->
          <label for="{{ form.school_year.id_for_label }}" class="bold-label">Σχολικό Έτος:</label>
          {{ form.school_year|as_crispy_field }}
        </div>
        <div>
          <!-- <label for="{{ form.school_year.id_for_label }}" class="bold-label">Περίοδος Επισκέψεων:</label> -->
          <label for="{{ form.school_year.id_for_label }}" class="bold-label">Περίοδος Επισκέψεων:</label>
          {{ form.reservation_period|as_crispy_field }}
        </div>
        <div>
          <!-- <label for="{{ form.school_year.id_for_label }}" class="bold-label">Διεύθυνση:</label> -->
          <label for="{{ form.school_year.id_for_label }}" class="bold-label">Διεύθυνση:</label>
          {{ form.department|as_crispy_field }}
        </div>
        <div>
          <!-- <label for="{{ form.school_year.id_for_label }}" class="bold-label">Σχολείο:</label> -->
          <label for="{{ form.school_year.id_for_label }}" class="bold-label">Σχολείο:</label>
          {{ form.school_user|as_crispy_field }}
        </div>
        <!-- {{ form|crispy }} -->
        <button type="submit" class="btn btn-primary" name="filter" value="1">Filter</button>
    </form>
  </div>

    <!-- Display Historical Reservations -->
    
    <div class="row w-100">
    {% if filter and historical_reservations %}
      <h2>Historical Reservations</h2>
          <ul>
              {% for reservation in historical_reservations %}
                  <li>{{ reservation.reservation_date }} - {{ reservation.schoolUser }} - {{ reservation.status }}</li>
              {% endfor %}
          </ul>
    {% endif %}
    </div>

</div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#school_year').change(function() {
                var selectedSchoolYearId = $(this).val();
    
                $.ajax({
                    url: '{% url "reservations:get_reservation_periods" %}',
                    data: {
                        'school_year_id': selectedSchoolYearId
                    },
                    dataType: 'json',  // Expect JSON response
                    success: function(data) {
                        if (data.options) {
                            $('#reservation_period').html(data.options);
                        } else {
                            console.error('No options returned in the response.');
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error('AJAX request failed:', textStatus, errorThrown);
                    }
                });
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            // Existing code...

            // Add an event listener for the department dropdown
            $('#reservation_period').change(function () {
                var selectedReservationPeriodId = $(this).val();

                $.ajax({
                    url: '{% url "reservations:get_departments" %}',
                    data: {
                        'reservation_period_id': selectedReservationPeriodId
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.options) {
                            $('#department').html(data.options);
                        } else {
                            console.error('No options returned in the response.');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('AJAX request failed:', textStatus, errorThrown);
                    }
                });
            });
        });
    </script>

<script>
    $(document).ready(function () {
        // Existing code...

        // Add an event listener for the department dropdown
        $('#department').change(function () {
            var selectedDepartmentId = $(this).val();
            var selectedReservationPeriodId = $('#reservation_period').val();

            $.ajax({
                url: '{% url "reservations:get_schoolusers" %}',
                data: {
                    'department_id': selectedDepartmentId,
                    'reservation_period_id': selectedReservationPeriodId
                },
                dataType: 'json',
                success: function (data) {
                    if (data.options) {
                        $('#school_user').html(data.options);
                    } else {
                        console.error('No options returned in the response.');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('AJAX request failed:', textStatus, errorThrown);
                }
            });
        });
    });
</script>


{% endblock %}