{% extends '../base/base_admin.html' %}

{% block content %}


<div class="container bg-white text-dark d-flex flex-wrap overflow-auto mt-4">
    <div class="row w-100 mt-4">
        {% if my_reservations %}
            <div class="card text-center">
                <div class="card-body">
                <h5 class="card-title">Ιστορικό Αλλαγών για την Κράτηση του Σχολείου {{ schoolUser.school.name }} με Ημερομηνία {{reservation.reservation_date.date|date:'d/m/Y'}} και Ώρα {{reservation.timeslot.dayTime.slot|time:"H:i"}}</h5>
                </div>
                <div class="card-footer text-muted">
                    {% for change in history_changes %}
                        <p>{{change}}</p>
                    {% endfor %}
                    <a href="{% url 'reservations:handle_reservations' %}" class="btn btn-primary">Διαχείριση Κρατήσεων</a>
                </div>
            </div>
        {% else %}
            <div class="card text-center">
                <div class="card-body">
                <h5 class="card-title">Ιστορικό Αλλαγών για την Κράτηση του Σχολείου {{ schoolUser.school.name }} με Ημερομηνία {{reservation.reservation_date.date|date:'d/m/Y'}} και Ώρα {{reservation.timeslot.dayTime.slot|time:"H:i"}}</h5>
                </div>
                <div class="card-footer text-muted">
                        <p>Δεν υπάρχει ιστορικό αλλαγών για τη συγκεκριμένη κράτηση.</p>
                    <a href="{% url 'reservations:handle_reservations' %}" class="btn btn-primary">Διαχείριση Κρατήσεων</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>




{% endblock %}
