{% extends '../base/base_admin.html' %}

{% block content %}

<div class="container-fluid mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3 mx-3">
        <li class="breadcrumb-item"><a href="{% url 'base:admin_dashboard' %}">Πίνακας Ελέγχου</a></li>
        <li class="breadcrumb-item"><a href="{% url 'reservations:statistics_period_selection' %}">Στατιστικά Στοιχεία</a></li>
        <li class="breadcrumb-item active" aria-current="page">Στατιστικά Στοιχεία Όλων των Ετών</li>
        </ol>
    </nav>
</div>

<div class="my-3 tab-content justify-content-center">
    <div class="container-fluid px-4">
        <div class="d-flex justify-content-center">
            <h3 class="my-3">Συνολικά Στατιστικά Στοιχεία για όλα τα Σχολικά Έτη</h3>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Αριθμός Κρατήσεων</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h5 class="text-white">{{ res_num }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Αριθμός Περιφερειακών Διευθύνσεων</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h5 class="text-white">{{ departments_with_reservations }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Αριθμός Σχολείων</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h5 class="text-white">{{ school_users_with_reservations }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Αριθμός Μαθητών</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h5 class="text-white">{{ total_students }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Κρατήσεις ανα σχολικό έτος
                    </div>
                    <div class="card-body"><canvas id="reservationsPerSchYear" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Κρατήσεις ανα περίοδο επισκέψεων
                    </div>
                    <div class="card-body"><canvas id="reservationsPerResPeriodChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Μαθητές ανα σχολικό έτος
                    </div>
                    <div class="card-body"><canvas id="studentsPerSchYear" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Μαθητές ανα περίοδο επισκέψεων
                    </div>
                    <div class="card-body"><canvas id="studentsPerResPeriodChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script> 

    var dataURLreservationsPerSchYear = '{% url "reservations:reservationsPerSchoolYearTotal" %}'
    var dataURLreservationsPerResPeriod = '{% url "reservations:reservationsPerResPeriodTotal" %}'
    var dataURLstudentsPerSchYear = '{% url "reservations:studentsPerSchoolYearTotal" %}'
    var dataURLstudentsPerResPeriod = '{% url "reservations:studentsPerResPeriodTotal" %}'

    var state ={	
        'itemsreservationsperschyear':[],
        'valuesreservationsperschyear':[],
        'itemsreservationsperresperiod':[],
        'valuesreservationsperresperiod':[],
        'itemsstudentsperschyear':[],
        'valuesstudentsperschyear':[],
        'itemsstudentsperresperiod':[],
        'valuesstudentsperresperiod':[],
        }

    $.ajax({
        method: "GET",
        url: dataURLreservationsPerSchYear,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
                var value = Object.values(response[i])[0]
            
            state.itemsreservationsperschyear.push(key)
            state.valuesreservationsperschyear.push(value)
            }
            console.log(state.itemsreservationsperschyear)
            console.log(state.valuesreservationsperschyear)
            setreservationsPerSchYearChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    $.ajax({
        method: "GET",
        url: dataURLreservationsPerResPeriod,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
                var value = Object.values(response[i])[0]
            
            state.itemsreservationsperresperiod.push(key)
            state.valuesreservationsperresperiod.push(value)
            }
            console.log(state.itemsreservationsperresperiod)
            console.log(state.valuesreservationsperresperiod)
            setreservationsPerResPeriodChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    $.ajax({
        method: "GET",
        url: dataURLstudentsPerSchYear,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
                var value = Object.values(response[i])[0]
            
            state.itemsstudentsperschyear.push(key)
            state.valuesstudentsperschyear.push(value)
            }
            console.log(state.itemsstudentsperschyear)
            console.log(state.valuesstudentsperschyear)
            setstudentsPerSchYearChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    $.ajax({
        method: "GET",
        url: dataURLstudentsPerResPeriod,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
                var value = Object.values(response[i])[0]
            
            state.itemsstudentsperresperiod.push(key)
            state.valuesstudentsperresperiod.push(value)
            }
            console.log(state.itemsstudentsperresperiod)
            console.log(state.valuesstudentsperresperiod)
            setstudentsPerResPeriodChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    function setreservationsPerSchYearChart(){
        var ctx = document.getElementById("reservationsPerSchYear").getContext('2d');
        
        var reservationsPerSchYearChart = new Chart(ctx, {
        responsive: true,
        type: 'pie',
        data: {
            labels: state.itemsreservationsperschyear,
            datasets: [{
                label: 'Κρατήσεις',
                data: state.valuesreservationsperschyear,
                yAxisID: 'A',
                borderWidth: 1,
                backgroundColor: ["#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9"],
                borderColor: ["#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9"],
                fill: true,
                order: 1
            },
            ]
        },
        })
    }

    function setreservationsPerResPeriodChart(){
        //Chart.defaults.global.defaultFontStyle = 'Bold'
        var ctx = document.getElementById("reservationsPerResPeriodChart").getContext('2d');
        
        var reservationsPerResPeriodChart = new Chart(ctx, {
        responsive: true,
        type: 'bar',
        data: {
            labels: state.itemsreservationsperresperiod,
            datasets: [{
                label: "Κρατήσεις",
                data: state.valuesreservationsperresperiod,
                borderWidth: 1,
                borderColor: 'rgba(120, 224, 151, 0.8)',
                backgroundColor: 'rgba(120, 224, 151, 0.8)',
                order: 1
            },
            ]
        },
        options: {
                scales: {
                    yAxes: [{
                        id: 'A',
                        position: 'left',
                        type: 'linear',
                        ticks: {
                            beginAtZero:true,
                            precision: 0
                        }
                    },
                    ],
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                        }
                    }]
                },
                legend: {
                    display: true,
                }
            }
            })
        }

        function setstudentsPerSchYearChart(){
        var ctx = document.getElementById("studentsPerSchYear").getContext('2d');
        
        var studentsPerSchYearChart = new Chart(ctx, {
        responsive: true,
        type: 'pie',
        data: {
            labels: state.itemsstudentsperschyear,
            datasets: [{
                label: 'Μαθητές',
                data: state.valuesstudentsperschyear,
                yAxisID: 'A',
                borderWidth: 1,
                backgroundColor: ["#B10DC9", "#7FDBFF", "#FF851B", "#2ECC40", "#FF4136", "#0074D9", "#F012BE", "#85144b", "#01FF70", "#39CCCC", "#001f3f", "#FFDC00"],
                borderColor: ["#B10DC9", "#7FDBFF", "#FF851B", "#2ECC40", "#FF4136", "#0074D9", "#F012BE", "#85144b", "#01FF70", "#39CCCC", "#001f3f", "#FFDC00"],
                fill: true,
                order: 1
            },
            ]
        },
        })
    }

    function setstudentsPerResPeriodChart(){
        //Chart.defaults.global.defaultFontStyle = 'Bold'
        var ctx = document.getElementById("studentsPerResPeriodChart").getContext('2d');
        
        var studentsPerResPeriodChart = new Chart(ctx, {
        responsive: true,
        type: 'bar',
        data: {
            labels: state.itemsstudentsperresperiod,
            datasets: [{
                label: "Κρατήσεις",
                data: state.valuesstudentsperresperiod,
                borderWidth: 1,
                borderColor: 'rgba(237, 165, 106, 0.8)',
                backgroundColor: 'rgba(237, 165, 106, 0.8)',
                order: 1
            },
            ]
        },
        options: {
                scales: {
                    yAxes: [{
                        id: 'A',
                        position: 'left',
                        type: 'linear',
                        ticks: {
                            beginAtZero:true,
                            precision: 0
                        }
                    },
                    ],
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                        }
                    }]
                },
                legend: {
                    display: true,
                }
            }
            })
        }
</script>

{% endblock %}