{% extends '../base/base_admin.html' %}

{% block content %}

<div class="my-3 tab-content justify-content-center">
    <div class="container-fluid px-4">
        <div class="d-flex justify-content-center">
            <h3 class="my-3">Στατιστικά Στοιχεία Περιόδου {{ reservation_period.start_date|date:'d/m/Y' }} - {{ reservation_period.end_date|date:'d/m/Y' }}</h3>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Αριθμός Κρατήσεων</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h5 class="text-white">{{ res_num }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Αριθμός Περιφερειακών Διευθύνσεων</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h5 class="text-white">{{ dept_num }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Αριθμός Σχολείων</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h5 class="text-white">{{ school_num }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Αριθμός Μαθητών</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <h5 class="text-white">{{ total_students }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Κρατήσεις ανα ημέρα
                    </div>
                    <div class="card-body"><canvas id="reservationsPerDayChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Κρατήσεις ανα περιφερειακή διεύθυνση
                    </div>
                    <div class="card-body"><canvas id="reservationsPerDeptChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-pie me-1"></i>
                        Αριθμός κρατήσεων ανα κατάσταση
                    </div>
                    <div class="card-body"><canvas id="reservationsPerStatusResPeriod" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-pie me-1"></i>
                        Πραγματοποιημένες / Μη πραγματοποιημένες κρατήσεις
                    </div>
                    <div class="card-body"><canvas id="reservationsPerPerformedResPeriod" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-pie me-1"></i>
                        Αριθμός κρατήσεων ανα χρονοθυρίδα
                    </div>
                    <div class="card-body"><canvas id="reservationsPerTimeslotResPeriod" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script> 

    var dataURLreservationsPerDay = '{% url "reservations:reservationsPerDayResPeriod" reservation_period.id %}'
    var dataURLreservationsPerDept = '{% url "reservations:reservationsPerDeptResPeriod" reservation_period.id %}'
    var dataURLreservationsPerStatus = '{% url "reservations:reservationsPerStatusResPeriod" reservation_period.id %}'
    var dataURLreservationsPerPerformed = '{% url "reservations:reservationsPerPerformedResPeriod" reservation_period.id %}'
    var dataURLreservationsPerTimeslot = '{% url "reservations:reservationsPerTimeslotResPeriod" reservation_period.id %}'

    var state ={	
        'itemsreservations':[],
        'valuesreservations':[],
        'itemsreservationsperdept':[],
        'valuesreservationsperdept':[],
        'itemsreservationsperstatus':[],
        'valuesreservationsperstatus':[],
        'itemsreservationsperperformed':[],
        'valuesreservationsperperformed':[],
        'itemsreservationspertimeslot':[],
        'valuesreservationspertimeslot':[],
        }

        $.ajax({
            method: "GET",
            url: dataURLreservationsPerDay,
            success: function(response){
                for (var i in response){
                    var key = Object.keys(response[i])[0]
                    var value = Object.values(response[i])[0]
                
                state.itemsreservations.push(key)
                state.valuesreservations.push(value)
                }
                console.log(state.itemsreservations)
                console.log(state.valuesreservations)
                setreservationsPerDayChart()
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })

        $.ajax({
            method: "GET",
            url: dataURLreservationsPerDept,
            success: function(response){
                for (var i in response){
                    var key = Object.keys(response[i])[0]
                    var value = Object.values(response[i])[0]
                
                state.itemsreservationsperdept.push(key)
                state.valuesreservationsperdept.push(value)
                }
                console.log(state.itemsreservationsperdept)
                console.log(state.valuesreservationsperdept)
                setreservationsPerDeptChart()
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })

        $.ajax({
            method: "GET",
            url: dataURLreservationsPerStatus,
            success: function(response){
                for (var i in response){
                    var key = Object.keys(response[i])[0]
                    var value = Object.values(response[i])[0]
                
                state.itemsreservationsperstatus.push(key)
                state.valuesreservationsperstatus.push(value)
                }
                console.log(state.itemsreservationsperstatus)
                console.log(state.valuesreservationsperstatus)
                setreservationsPerStatusChart()
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })

        $.ajax({
            method: "GET",
            url: dataURLreservationsPerPerformed,
            success: function(response){
                for (var i in response){
                    var key = Object.keys(response[i])[0]
                    var value = Object.values(response[i])[0]
                
                state.itemsreservationsperperformed.push(key)
                state.valuesreservationsperperformed.push(value)
                }
                console.log(state.itemsreservationsperperformed)
                console.log(state.valuesreservationsperperformed)
                setreservationsPerPerformedChart()
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })

        $.ajax({
            method: "GET",
            url: dataURLreservationsPerTimeslot,
            success: function(response){
                for (var i in response){
                    var key = Object.keys(response[i])[0]
                    var value = Object.values(response[i])[0]
                
                state.itemsreservationspertimeslot.push(key)
                state.valuesreservationspertimeslot.push(value)
                }
                console.log(state.itemsreservationspertimeslot)
                console.log(state.valuesreservationspertimeslot)
                setreservationsPerTimeslotChart()
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })

    function setreservationsPerDayChart(){
        //Chart.defaults.global.defaultFontStyle = 'Bold'
        var ctx = document.getElementById("reservationsPerDayChart").getContext('2d');
        
        var reservationsPerDayChart = new Chart(ctx, {
        responsive: true,
        type: 'bar',
        data: {
            labels: state.itemsreservations,
            datasets: [{
                label: "Κρατήσεις ανα ημέρα",
                data: state.valuesreservations,
                borderWidth: 1,
                borderColor: 'rgba(33, 165, 206, 0.8)',
                backgroundColor: 'rgba(33, 165, 206, 0.8)',
                order: 1
            },
            ]
        },
        options: {
                scales: {
                    yAxes: [{
                        id: 'A',
                        position: 'left',
                        type: 'linear',
                        ticks: {
                            beginAtZero:true,
                            precision: 0
                        }
                    },
                    ],
                    xAxes: [{
                        ticks: {
                            autoSkip: true,
                            sampleSize: 7
                        }
                    }]
                },
                legend: {
                    display: true,
                }
            }
            })
        }

    function setreservationsPerDeptChart(){
        //Chart.defaults.global.defaultFontStyle = 'Bold'
        var ctx = document.getElementById("reservationsPerDeptChart").getContext('2d');
        
        var reservationsPerDeptChart = new Chart(ctx, {
        responsive: true,
        type: 'bar',
        data: {
            labels: state.itemsreservationsperdept,
            datasets: [{
                label: "Κρατήσεις ανα περιφερειακή διεύθυνση",
                data: state.valuesreservationsperdept,
                borderWidth: 1,
                borderColor: 'rgba(109, 121, 124, 0.8)',
                backgroundColor: 'rgba(109, 121, 124, 0.8)',
                order: 1
            },
            ]
        },
        options: {
                scales: {
                    yAxes: [{
                        id: 'A',
                        position: 'left',
                        type: 'linear',
                        ticks: {
                            beginAtZero:true,
                            precision: 0
                        }
                    },
                    ],
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                        }
                    }]
                },
                legend: {
                    display: true,
                }
            }
            })
        }

    function setreservationsPerStatusChart(){
        var ctx = document.getElementById("reservationsPerStatusResPeriod").getContext('2d');
        
        var reservationsPerStatusChart = new Chart(ctx, {
        responsive: true,
        type: 'doughnut',
        data: {
            labels: state.itemsreservationsperstatus,
            datasets: [{
                label: 'Αριθμός κρατήσεων ανα κατάσταση',
                data: state.valuesreservationsperstatus,
                yAxisID: 'A',
                borderWidth: 1,
                backgroundColor: [
                'rgba(54, 162, 235, 0.5)',
                'rgba(73, 202, 45, 0.8)',
                'rgba(255, 99, 132, 0.5)',
                ],
                borderColor: [
                'rgba(54, 162, 235, 0.5)',
                'rgba(73, 202, 45, 0.8)',
                'rgba(255, 99, 132, 0.5)',
                ],
                fill: true,
                order: 1
            },
            ]
        },
        })
    }

    function setreservationsPerPerformedChart(){
        var ctx = document.getElementById("reservationsPerPerformedResPeriod").getContext('2d');
        
        var reservationsPerPerformedChart = new Chart(ctx, {
        responsive: true,
        type: 'pie',
        data: {
            labels: state.itemsreservationsperperformed,
            datasets: [{
                label: 'Πραγματοποιημένες / Μη πραγματοποιημένες κρατήσεις',
                data: state.valuesreservationsperperformed,
                yAxisID: 'A',
                borderWidth: 1,
                backgroundColor: [
                'rgba(73, 202, 45, 0.8)',
                'rgba(194, 53, 19, 0.8)',
                ],
                borderColor: [
                'rgba(73, 202, 45, 0.8)',
                'rgba(194, 53, 19, 0.8)',
                ],
                fill: true,
                order: 1
            },
            ]
        },
        })
    }

    function setreservationsPerTimeslotChart(){
        var ctx = document.getElementById("reservationsPerTimeslotResPeriod").getContext('2d');
        
        var reservationsPerTimeslotChart = new Chart(ctx, {
        responsive: true,
        type: 'pie',
        data: {
            labels: state.itemsreservationspertimeslot,
            datasets: [{
                label: 'Πραγματοποιημένες / Μη πραγματοποιημένες κρατήσεις',
                data: state.valuesreservationspertimeslot,
                yAxisID: 'A',
                borderWidth: 1,
                backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE"],
                borderColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE"],
                fill: true,
                order: 1
            },
            ]
        },
        })
    }

</script>

{% endblock %}