{% extends '../base/base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="d-flex justify-content-center my-3">

        <div class="d-flex flex-wrap align-content-center justify-content-center mt-5">
            <div class="card">
                <h5 class="card-header">ΤΡΟΠΟΠΟΙΗΣΗ ΚΡΑΤΗΣΗΣ</h5>
                <div class="card-body">

                    <p>Έχετε επιλέξει να προβείτε σε διαγραφή της κράτησης του σχολείου "{{ schoolUser.school.name }}" για την ημερομηνία 
                        {% if reservationDateName == 'Monday' %}
                        Δευτέρα 
                        {% elif reservationDateName == 'Tuesday' %}
                        Τρίτη 
                        {% elif reservationDateName == 'Wednesday' %}
                        Τετάρτη 
                        {% elif reservationDateName == 'Thursday' %}
                        Πέμπτη 
                        {% elif reservationDateName == 'Friday' %}
                        Παρασκευή 
                        {% elif reservationDateName == 'Saturday' %}
                        Σάββατο 
                        {% else %}
                        Κυριακή 
                        {% endif %}
    
                        {{ reservationDateDay }} 
    
                        {% if reservationDateMonth == 'January' %}
                        Ιανουαρίου 
                        {% elif reservationDateMonth == 'February' %}
                        Φεβρουαρίου 
                        {% elif reservationDateMonth == 'March' %}
                        Μαρτίου 
                        {% elif reservationDateMonth == 'April' %}
                        Απριλίου 
                        {% elif reservationDateMonth == 'May' %}
                        Μαΐου 
                        {% elif reservationDateMonth == 'June' %}
                        Ιουνίου 
                        {% elif reservationDateMonth == 'July' %}
                        Ιουλίου 
                        {% elif reservationDateMonth == 'August' %}
                        Αυγούστου 
                        {% elif reservationDateMonth == 'September' %}
                        Σεπτεμβρίου 
                        {% elif reservationDateMonth == 'October' %}
                        Οκτωβρίου 
                        {% elif reservationDateMonth == 'November' %}
                        Νοεμβρίου 
                        {% else %}
                        Δεκεμβρίου 
                        {% endif %}
    
                        {{ reservationDateYear }}
                    </p>       
                    
                        <form action="{% url 'reservations:update_reservation' update_reservation.id schoolUser.id %}" method="post">
                            {% csrf_token %}
                            {% for error in reservationUpdateForm.errors %}
                            <center><p><strong class="text-danger">Please select a valid {{ error }} value</strong></p></center>
                            {% endfor %} 
                            {{ reservationUpdateForm|crispy }}
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-success">ΤΡΟΠΟΠΟΙΗΣΗ</button>
                                <a href="{% url 'reservations:my_reservations' %}" class="btn btn-primary">ΑΚΥΡΟ</a>
                            </div>
                        </form>
                    
                </div>
            </div>
        </div>

</div>

{% endblock %}