{% extends '../base/_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>School Form</h2>
  <form method="post" id="schoolForm" data-schools-url="{% url 'ajax_load_schools' %}" novalidate>
    {% csrf_token %}

    {% if error_message %}
      <center><p><strong class="text-danger">{{ error_message }}</strong></p></center>
    {% endif %}

    {{ form|crispy}}

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% url 'base:home' %}">Nevermind</a>
  </form>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script>
    $("#id_department").change(function () {
      var url = $("#schoolForm").attr("data-schools-url");  // get the url of the `load_cities` view
      var departmentId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'department': departmentId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_school").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

{% endblock %}