{% extends '../base/base_user.html' %}

{% block content %}

{% if is_superuser %}

    <div class="container bg-white text-dark d-flex flex-wrap overflow-auto">
        <div class="row w-100 mt-5">
            <div class="mt-5 d-flex justify-content-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Μπορείτε να δείτε τα σχολεία που έχουν εγγραφεί από τον διαχειριστή στη σελίδα διαχείρισης.</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row w-100">
            <div class="mt-2 d-flex justify-content-center">
                <a href="{% url 'schoolsadmin:schools_created_by_admin' %}" class="btn btn-primary">ΣΧΟΛΕΙΑ ΔΙΑΧΕΙΡΙΣΤΗ</a>
            </div>
        </div>
    </div>

{% else %}

<div class="my-5 mx-auto">
    <div class="row">
        {% if my_schools %}
            {% for myschool in my_schools %}
                <div class="my-3">
                    <div class="success-message">
                        {% if messages %}
                            {% for message in messages %}
                                {% if '--' in message.message %}
                                    <h5 class="alert alert-success text-center" style="padding-top: 5px; padding-bottom: 5px;">
                                        {{ message }}
                                    </h5>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-center mb-3"><h5>ΣΤΟΙΧΕΙΑ ΣΧΟΛΕΙΟΥ</h5></div>
                    <div class="row">
                        <div class="d-flex justify-content-center mb-2">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td nowrap>ΠΕΡΙΦΕΡΕΙΑΚΗ ΔΙΕΥΘΥΝΣΗ:</td>
                                        <td nowrap>{{myschool.department.name}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>ΟΝΟΜΑ ΣΧΟΛΕΙΟΥ:</td>
                                        <td nowrap>{{myschool.school.name}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>ΔΙΕΥΘΥΝΣΗ:</td>
                                        <td nowrap>{{myschool.address}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>ΑΡΙΘΜΟΣ:</td>
                                        <td nowrap>{{myschool.address_number}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>ΠΟΛΗ:</td>
                                        <td nowrap>{{myschool.city}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>ΤΑΧ. ΚΩΔΙΚΑΣ:</td>
                                        <td nowrap>{{myschool.zipcode}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>ΤΗΛΕΦΩΝΟ:</td>
                                        <td nowrap>{{myschool.phone}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>Email:</td>
                                        <td nowrap>{{user.email}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>ΟΝΟΜΑ ΔΙΕΥΘΥΝΤΗ:</td>
                                        <td nowrap>{{myschool.director_name}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>ΕΠΩΝΥΜΟ ΔΙΕΥΘΥΝΤΗ:</td>
                                        <td nowrap>{{myschool.director_surname}}</td>												
                                    </tr>
                                    <tr>
                                        <td nowrap>ΗΜΕΡΟΜΗΝΙΑ ΕΓΓΡΑΦΗΣ:</td>
                                        <td nowrap>{{myschool.created_at|date:"d/m/Y"}}</td>												
                                    </tr>
                                </tbody>
                            
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="my-1">
                        <!--<form action="{% url 'schools:schooluser_delete' myschool.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>-->
                        <a class="btn btn-danger me-3" href="{% url 'schools:schooluser_delete' myschool.id %}" role="button">ΔΙΑΓΡΑΦΗ</a>
                        <a class="btn btn-success" href="{% url 'schools:schooluser_update' myschool.id %}" role="button">ΤΡΟΠΟΠΟΙΗΣΗ</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="card mt-5">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page"><strong>Δεν έχετε προχωρήσει ακόμα σε εγγραφή σχολείου</strong></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'schools:schooluser_add' %}" class="btn btn-success">ΠΡΟΣΘΕΣΗ ΣΧΟΛΕΙΟΥ</a>
                    </div>
                </div>
            </div>
        {% endif %}    
    </div>
</div>

{% endif %}

{% endblock %}