{% extends '../base/_base.html' %}

{% block content %}


<div class="my-3 mx-auto">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if my_schools %}
                {% for myschool in my_schools %}
                    <div class="my-3">
                        <div class="d-flex justify-content-center mb-2"><h5>ΣΤΟΙΧΕΙΑ ΣΧΟΛΕΙΟΥ</h5></div>
                        <div class="row">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>ΠΕΡΙΦΕΡΕΙΑΚΗ ΔΙΕΥΘΥΝΣΗ:</td>
                                    <td>{{myschool.department.name}}</td>												
                                </tr>
                                <tr>
                                    <td>ΟΝΟΜΑ ΣΧΟΛΕΙΟΥ:</td>
                                    <td>{{myschool.school.name}}</td>												
                                </tr>
                                <tr>
                                    <td>ΔΙΕΥΘΥΝΣΗ:</td>
                                    <td>{{myschool.address}}</td>												
                                </tr>
                                <tr>
                                    <td>ΑΡΙΘΜΟΣ:</td>
                                    <td>{{myschool.address_number}}</td>												
                                </tr>
                                <tr>
                                    <td>ΠΟΛΗ:</td>
                                    <td>{{myschool.city}}</td>												
                                </tr>
                                <tr>
                                    <td>ΤΑΧ. ΚΩΔΙΚΑΣ:</td>
                                    <td>{{myschool.zipcode}}</td>												
                                </tr>
                                <tr>
                                    <td>ΤΗΛΕΦΩΝΟ:</td>
                                    <td>{{myschool.phone}}</td>												
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>{{user.email}}</td>												
                                </tr>
                                <tr>
                                    <td>ΟΝΟΜΑ ΔΙΕΥΘΥΝΤΗ:</td>
                                    <td>{{myschool.director_name}}</td>												
                                </tr>
                                <tr>
                                    <td>ΕΠΩΝΥΜΟ ΔΙΕΥΘΥΝΤΗ:</td>
                                    <td>{{myschool.director_surname}}</td>												
                                </tr>
                                <tr>
                                    <td>ΗΜΕΡΟΜΗΝΙΑ ΕΓΓΡΑΦΗΣ:</td>
                                    <td>{{myschool.created_at|date:"d/m/Y"}}</td>												
                                </tr>
                            </tbody>
                        
                        </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="my-1">
                            <!--<form action="{% url 'schools:schooluser_delete' myschool.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>-->
                            <a class="btn btn-danger me-3" href="{% url 'schools:schooluser_delete' myschool.id %}" role="button">ΔΙΑΓΡΑΦΗ</a>
                            <a class="btn btn-success" href="{% url 'schools:schooluser_update' myschool.id %}" role="button">ΕΝΗΜΕΡΩΣΗ</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="my-3">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">ΕΓΓΡΑΦΗ ΣΧΟΛΕΙΟΥ</h5>
                          <p class="card-text d-flex justify-content-center">Δεν έχετε προχωρήσει ακόμα σε εγγραφή κάποιου σχολείου.</p>
                          <div class="d-flex justify-content-center">
                            <a href="{% url 'schools:schooluser_add' %}" class="btn btn-primary">ΠΡΟΣΘΕΣΗ ΣΧΟΛΕΙΟΥ</a>
                          </div>
                        </div>
                      </div>
                </div>
            {% endif %}
            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


{% endblock %}